@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}

html, body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    font-family: 'DM Sans', sans-serif;
    background-color: #141414;
    color: white;
}

#netflix-logo-box {
    padding: 30px;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #db0000;
    background-color: #141414;
}

#netflix-logo {
    width: 25%;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h2 {
    font-size: 55px;
}

.order-btn {
    margin: 20px;
    padding: 5px;
    width: 120px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.order-btn:hover {
    background-color: rgba(212, 212, 212, 0.753);
}

.series {
    width: 80%;
    height: 650px;
    margin: 50px auto;
    background-color: #242424;
    padding: 40px;
    font-size: x-large;
    display: grid;
    grid-template-columns: repeat(10, 1fr) ;
    grid-template-rows: repeat(4, 1fr) ;
    grid-template-areas:
    "i i i i i u u u u ." 
    "i i i i i u u u u ." 
    "i i i i i u u u u ." 
    "r r . . . . . . b1 b2";
}

.series-img {
    grid-area: i;
}

ul {
    grid-area: u;
}

.rating-span {
    grid-area: r;
}

.upVotes-btn {
    grid-area: b1;
}

.downVotes-btn {
    grid-area: b2;
}

.upVotes-btn, .downVotes-btn {
    width: 65px;
    height: 65px;
    border-radius: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
}

.upVotes-btn:active, .downVotes-btn:active {
    background-color: #acabab;
}

.upVotes-img, .downVotes-img {
    width: 46px;
    height: 46px;
}

.series:hover {
    width: 85%;
    height: 700px;
    background-color: #363636;
}

.series-img {
    width: 90%;
}

li {
    list-style: none;
    margin: 10px;
}

.social {
    width: 50%;
    padding: 30px;
    margin: auto;
    color: white;
}

.social-img {
    margin-right: 20px;
    cursor: pointer;
}

#fb {
    width: 14px;
}

#inst {
    width: 21px;
}

#tw {
    width: 22px;
}

#yt {
    width: 26px;
}

.services {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr) ;
    grid-template-rows: repeat(3, 1fr) ;
    grid-template-areas:
    "l1 l1 l4 l4 l7 l7 l10 l10"
    "l2 l2 l5 l5 l8 l8 l11 l11"
    "l3 l3 l6 l6 l9 l9 l12 l12";
}

.service-list {
    width: 200px;
    margin: auto;
}

a {
    color: rgb(141, 141, 141);
    text-decoration: none;
    margin: 0px;
}

a:hover {
    text-decoration: underline;
}

#l1 {
    grid-area: l1;
}

#l2 {
    grid-area: l2;
}

#l3 {
    grid-area: l3;
}

#l4 {
    grid-area: l4;
}

#l5 {
    grid-area: l5;
}

#l6 {
    grid-area: l6;
}

#l7 {
    grid-area: l7;
}

#l8 {
    grid-area: l8;
}

#l9 {
    grid-area: l9;
}

#l10 {
    grid-area: l10;
}

#l11 {
    grid-area: l11;
}

#l12 {
    grid-area: l12;
}

.service-btn-box {
    width: 55%;
    margin: auto;
    padding: 10px;
}

.button-service {
    background-color: transparent;
    border: 1px solid rgb(141, 141, 141);
    color: rgb(141, 141, 141);
    height: 30px;
    width: 120px;
    margin: 10px;
    cursor: pointer;
}

.copyright {
    width: 55%;
    margin: auto;
}

.copyrigth-span {
    font-size: 12px;
    margin: 10px;
    padding-bottom: 30px;
    color: rgb(141, 141, 141);
}

@media screen and (max-width: 1300px) {

    .series-img {
        width: 100%;
    }

}

@media screen and (max-width: 1300px) {

    #netflix-logo-box {
        height: 200px;
    }
    
    #netflix-logo {
        width: 500px;
    }
    
    h2 {
        margin-left: 30px;
    }

    .series {
        width: 80%;
        height: auto;
        margin: 50px auto;
        background-color: #242424;
        padding: 0px;
        font-size: x-large;
        display: grid;
        grid-template-columns: repeat(7, 1fr) ;
        grid-template-rows: repeat(5, 1fr) ;
        grid-template-areas:
        "i i i i i i i" 
        "i i i i i i i"
        "u u u . . . ."
        "u u u . . . ."
        ". r r . . b1 b2";
    }

    .series:hover {
        height: auto;
    }

    .services {
        width: 80%;
        padding: 0px;
        grid-template-columns: repeat(8, 1fr) ;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "l1 l1 l4 l4 l7 l7 l10 l10"
            "l2 l2 l5 l5 l8 l8 l11 l11"
            "l3 l3 l6 l6 l9 l9 l12 l12";
    }

}

@media screen and (max-width: 1080px) {
    
    .button-box {
        padding-left: 20px;
    }

    #main-header {
        display: initial;
    }

    .social {
        margin-left: 60px;
    }

    .services {
        width: 80%;
        padding: 0px;
        grid-template-columns: repeat(4, 1fr) ;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "l1 l4 l7 l10"
            "l2 l5 l8 l11"
            "l3 l6 l9 l12";
    }

}

@media screen and (max-width: 900px) {

    #netflix-logo {
        width: 300px;
        height: 100px;
    }

    .services {
        width: 80%;
        padding: 0px;
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "l1 l5 l9"
            "l2 l6 l10"
            "l3 l7 l11"
            "l4 l8 l12";
    }

    .series {
        grid-template-columns: repeat(7, 1fr) ;
        grid-template-rows: repeat(5, 1fr) ;
        grid-template-areas:
        "i i i i i i i" 
        "i i i i i i i"
        "u u u u u u u" 
        "u u u u u u u"
        ". r r . b1 b2 .";
    }

    .series:hover {
        width: 100%;
    }

}

@media screen and (max-width: 680px) {

    .main-header {
        height: auto;
    }

    h2 {
        margin-bottom: 10px;
    }

    .button-box {
        height: 80px;
        display: flex;
        align-items: center;
    }

    .order-btn {
        width: 90px;
        height: 60px;
        margin: 10px;
    }

    .series {
        grid-template-columns: repeat(8, 1fr) ;
        grid-template-rows: repeat(6, 1fr) ;
        grid-template-areas:
        "i i i i i i i i" 
        "i i i i i i i i"
        "u u u u u u . ." 
        "u u u u u u . ."
        "u u u u u u . ."
        ". r r r . b1 b2 .";
    }

    .upVotes-btn, .downVotes-btn {
        margin: 12px;
    }

    .services {
        width: 80%;
        padding: 0px;
        grid-template-columns: repeat(2, 1fr) ;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "l1 l7"
            "l2 l8"
            "l3 l9"
            "l4 l10"
            "l5 l11"
            "l6 l12";
    }

}

@media screen and (max-width: 600px) {

    .upVotes-btn, .downVotes-btn {
        width: 45px;
        height: 45px;
    }

    .upVotes-img, .downVotes-img {
        width: 28px;
        height: 28px;
    }

}

@media screen and (max-width: 480px) {

    .order-btn {
        width: 70px;
        height: 78px;
        margin: 2px;
    }

    .series {
        width: 100%;
        grid-template-columns: repeat(8, 1fr) ;
        grid-template-rows: repeat(4, 1fr) ;
        grid-template-areas:
        "i i i i i i i i"
        "u u u u u u u ." 
        "u u u u u u u ." 
        ". r r r . b1 b2 .";
    }

    .upVotes-btn, .downVotes-btn {
        margin: 8px;
    }

    .services {
        width: 80%;
        padding: 0px;
        grid-template-columns: repeat(1, 1fr) ;
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
            "l1"
            "l2"
            "l3"
            "l4"
            "l5"
            "l6"
            "l7"
            "l8"
            "l9"
            "l10"
            "l11"
            "l12";
    }

}

@media screen and (max-width: 290px) {

    #netflix-logo {
        width: 200px;
        height: 70px;
    }

    h2 {
        margin-left: 5px;
    }

    .button-box {
        padding-left: 0px;
    }

    .series {
        width: 100%;
        grid-template-columns: repeat(8, 1fr) ;
        grid-template-rows: repeat(5, 1fr) ;
        grid-template-areas:
        "i i i i i i i i"
        "u u u u u u u u" 
        "u u u u u u u u" 
        ". r r r r . . ."
        ". . . . b1 . b2 .";
    }

}